In [ ]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
# Importing Machine Learning related packages
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

In [ ]:
# Assigning the dataset 
df1 = pd.read_csv('/content/Bike Short.csv')
df1

       season  mnth  hr  holiday  weekday  ...  temp   atemp   hum  windspeed  cnt
0           1     1   0        0        6  ...  0.24  0.2879  0.81     0.0000   16
1           1     1   1        0        6  ...  0.22  0.2727  0.80     0.0000   40
2           1     1   2        0        6  ...  0.22  0.2727  0.80     0.0000   32
3           1     1   3        0        6  ...  0.24  0.2879  0.75     0.0000   13
4           1     1   4        0        6  ...  0.24  0.2879  0.75     0.0000    1
...       ...   ...  ..      ...      ...  ...   ...     ...   ...        ...  ...
17374       1    12  19        0        1  ...  0.26  0.2576  0.60     0.1642  119
17375       1    12  20        0        1  ...  0.26  0.2576  0.60     0.1642   89
17376       1    12  21        0        1  ...  0.26  0.2576  0.60     0.1642   90
17377       1    12  22        0        1  ...  0.26  0.2727  0.56     0.1343   61
17378       1    12  23        0        1  ...  0.26  0.2727  0.65     0.1343   49

[17379 rows x 12 columns]

In [ ]:
# Listing the column names
list(df1)

['season',
 'mnth',
 'hr',
 'holiday',
 'weekday',
 'workingday',
 'weathersit',
 'temp',
 'atemp',
 'hum',
 'windspeed',
 'cnt']

In [ ]:
# Listing the Data types
df1.dtypes

season          int64
mnth            int64
hr              int64
holiday         int64
weekday         int64
workingday      int64
weathersit      int64
temp          float64
atemp         float64
hum           float64
windspeed     float64
cnt             int64
dtype: object

In [ ]:
# Setting variables as categorical
df1['season'] = df1.season.astype('category')
df1['mnth'] = df1.mnth.astype('category')
df1['hr'] = df1.hr.astype('category')
df1['holiday'] = df1.holiday.astype('category')
df1['weekday'] = df1.weekday.astype('category')
df1['workingday'] = df1.workingday.astype('category')
df1['weathersit'] = df1.weathersit.astype('category')

In [ ]:
# Listing the Data types after changing data types
df1.dtypes

season        category
mnth          category
hr            category
holiday       category
weekday       category
workingday    category
weathersit    category
temp           float64
atemp          float64
hum            float64
windspeed      float64
cnt              int64
dtype: object

In [ ]:
# Assigning label variable to y
y = df1.cnt
# Assigning dependent varialbles to X
X = df1.drop('cnt', axis=1)
# Displaying domensions of X before one hot encoding
X.shape

(17379, 11)

In [ ]:
# One Hot encoding for all X variables
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
onehotencoder = OneHotEncoder() 
xdata = onehotencoder.fit_transform(X).toarray() 
xdata.shape
#xdata

(17379, 289)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.1, random_state = 0)

In [ ]:
# Importing the decision tree and training the data
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor(random_state = 0, criterion='mae', min_impurity_decrease=0.05, max_depth=None)
regressor.fit(X, y)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mae', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.05, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=0, splitter='best')

In [ ]:
# Using Training dataset with the Algorithm
dtree_model = regressor.fit(X_train, y_train)

# Predicting the Test set results
y_pred = dtree_model.predict(X_test)

In [ ]:
# Evaluating the Test set results
print(r2_score(y_test, y_pred))
print(mean_squared_error(y_test, y_pred))

0.7764104262917431
7229.869102416571

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression
regressor = RandomForestRegressor(random_state = 0,n_estimators=100, criterion='mae', bootstrap=True,  max_depth=None)
regressor.fit(X, y)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mae',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=0, verbose=0, warm_start=False)

In [ ]:
# Using Training dataset with the Algorithm
rftree_model = regressor.fit(X_train, y_train)

# Predicting the Test set results
y_pred = rftree_model.predict(X_test)

In [ ]:
# Evaluating the Test set results
print(r2_score(y_test, y_pred))
print(mean_squared_error(y_test, y_pred))

0.84558021799954
4993.2328783084